@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700;800&family=Urbanist:wght@100;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
}

h1{
    font-family: 'Crimson Pro', serif;
}


.underline-after-click::before,
.underline-after-click::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: blue; /* Change the color as desired */
  transition: opacity 0.3s ease;
  opacity: 0;
}

.underline-after-click::before {
  transform: scaleX(0);
  transform-origin: left;
}

.underline-after-click::after {
  transform: scaleX(1);
  transform-origin: right;
}

.underline-after-click.clicked::before,
.underline-after-click.clicked::after {
  opacity: 1;
}